.overlay{
    max-width: 480px;
    height: 400px;

    display: flex;
    justify-content: center;
    align-items: center; 
    
    margin-left: auto;
    margin-right: auto;
    background-color: $bg-footer;
    
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), image-set(url(../../images/overlay-mobile-1x.jpg) 1x, url(../../images/overlay-mobile-2x.jpg) 2x);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media screen and (min-width: $tablet) {
        max-width: 768px;
        height: 400px;

        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), image-set(url(../../images/overlay-tablet-1x.jpg) 1x, url(../../images/overlay-tablet-2x.jpg) 2x);
    }

    @media screen and (min-width: $desktop) {
        max-width: 1600px;
        height: 600px;

        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), image-set(url(../../images/overlay-desktop-1x.jpg) 1x, url(../../images/overlay-desktop-2x.jpg) 2x);
    }
}

.hero-section{
    text-align: center;
}

.button-hero{
    min-width: 200px;
    display: inline-block;
    padding: 10px 32px;
    

    color: $white-color;
    background-color: $accent-color;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    border-radius: 4px;
    border: 1px transparent;

    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;

    &:hover{
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.08), 0 3px 1px 0 rgba(0, 0, 0, 0.1);
        color: $accent-color;
        background-color: $bg-buttons-portfolio;
    }
}
