$primary-text-color: #212121;
$secondary-text-color: #757575;
$white-color: #ffffff;
$white-opacity-color: rgb(255, 255, 255, 0.6);
$white-opacity-color-icons: rgb(255, 255, 255, 0.1);
$accent-color: #2196F3;
$card-portfolio-overlay: rgba(33, 150, 243, 0.9);
$plashka-what-we-do: rgba(47, 48, 58, 0.8);
$bg-footer: #2F303A;
$bg-buttons-portfolio:  #F5F4FA;
$bg-card-portfolio: #EEEEEE;
$bg-backdrop: rgba(47, 48, 58, 0.2);
$icons-social: #AFB1B8;
$border-nav: #ECECEC;
$close-form-btn: rgba(0, 0, 0, 0.1);
$social-link-line: rgba(33, 33, 33, 0.2);